<div class='articles'>
    {{#each articles}}
    <div class='card card-article' data-id='{{this.id}}'>

        <a class='art-link' href='{{this.link}}'>
            <div class='card-header'>
                <h4 class='art-headline'> {{this.headline}} </h4>
            </div>
        </a>

        <div class='card-body art-sum'> {{this.summary}}
            <br>
            <button data-id='{{this.id}}' id='add-note'>Add Note</button>
        </div>
    </div>
    <div id='modal' >
            <div class="row">
                <div class="col-md-4 ml-auto" id='notes'>
                    
                </div>
            </div>
        </div>
    </div>
    {{/each}}