<div class='articles'>
    {{#each articles}}
    {{!-- <div class='articles'> --}}
    <div class='row'>
        <div class='col'>
            <div class='card card-article' data-id='{{this.id}}'>

                <a class='art-link' href='{{this.link}}'>
                    <div class='card-header'>
                        <h4 class='art-headline'> {{this.headline}} </h4>
                    </div>
                </a>
                <div class='card-body art-sum'> {{this.summary}}
                    <br>
                    <button data-article-id='{{this.id}}' id='add-note-btn'>Notes</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Notes div --}}
    <div class="row noteDiv" data-noteDiv-id='{{this.id}}'>
        <div class="col-md-4 mx-auto ">

            <div class='card'>
                <div class='card-header'>{{this.headline}}</div>
                <div class='card-body savedNotes'>
                    <div class='bodyoutput'></div>

                    <div class='notes'>
                        <textarea id='bodyinput' name='body' placeholder='Notes'></textarea>
                        <button type='button' data-close-id='{{this.id}}' id='close-note-btn' style="float:right;">Close
                            Note</button>
                        <button type='button' data-save-id='{{this.id}}' id='save-note-btn' style="float:right;">Save
                            Note</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- </div> --}}
    {{/each}}
</div>